.hexGrid {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto;
	margin:0 auto;
	list-style-type: none;
	overflow: hidden;
	padding:20px;
}


.hex {
	grid-column-end: span 2;
	height:120px;
	position: relative;
	/* visibility: hidden; */
	outline: 1px solid transparent;
	/* fix for jagged edges in FF on hover transition */
	overflow: hidden;
}




/* .hex:nth-child(7n+5):nth-last-child(-n+1) {
	grid-column-start: 4;
}
.hex:nth-child(7n+1):nth-last-child(-n+2) {
	grid-column-start: 3;
}
.hex:nth-child(7n+1):nth-last-child(-n+1) {
	grid-column-start: 4;
} */



/*** HEX CONTENT **********************************************************************/
.hex img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}


/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/

@media (min-width:1201px) {

	/* <- 5-4  hexagons per row */
	.hexGrid {
		padding-bottom: 4.4%;
	}

	.hex:nth-child(9n+6) {
		/* first hexagon of even rows */
		grid-column-start: 2;
	}




	.hex:nth-child(9n+6):nth-last-child(-n+3) {
		grid-column-start: 3;
	}

	.hex:nth-child(9n+6):nth-last-child(-n+2) {
		grid-column-start: 4;
	}

	.hex:nth-child(9n+6):nth-last-child(-n+1) {
		grid-column-start: 5;
	}

	.hex:nth-child(9n+1):nth-last-child(-n+4) {
		grid-column-start: 2;
	}
	.hex:nth-child(9n+1):nth-last-child(-n+3) {
		grid-column-start: 3;
	}
	.hex:nth-child(9n+1):nth-last-child(-n+2) {
		grid-column-start: 4;
	}

	.hex:nth-child(9n+1):nth-last-child(-n+1) {
		grid-column-start: 5;
	}
	/* .hex:nth-child(7n+1):nth-last-child(-n+1) {
		grid-column-start: 4;
	}  */
}

@media (max-width: 1200px) and (min-width:901px) {

	/* <- 4-3  hexagons per row */
	.hexGrid {

		grid-template-columns: repeat(8, 1fr);
		padding-bottom: 5.5%;
		margin: 11px;
	}

	.hex {
		height:150px;
	}
	
	.hex:nth-child(7n+5) {
		/* first hexagon of even rows */
		grid-column-start: 2;
	}

	.hex:nth-child(7n+5):nth-last-child(-n+2) {
		grid-column-start: 3;
	}
	.hex:nth-child(7n+5):nth-last-child(-n+1) {
		grid-column-start: 4;
	}
	.hex:nth-child(7n+1):nth-last-child(-n+2) {
		grid-column-start: 3;
	}
	.hex:nth-child(7n+1):nth-last-child(-n+1) {
		grid-column-start: 4;
	}
}

@media (max-width: 900px) and (min-width:601px) {

	/* <- 3-2  hexagons per row */
	.hexGrid {
		grid-template-columns: repeat(6, 1fr);
		padding-bottom: 7.4%;
	}

	
	.hex:nth-child(5n+4) {
		/* first hexagon of even rows */
		grid-column-start: 2;
	}

	.hex:nth-child(5n+4):nth-last-child(-n+1) {
		grid-column-start: 3;
	}
	
	.hex:nth-child(5n+1):nth-last-child(-n+2) {
		grid-column-start: 2;
	}
	.hex:nth-child(5n+1):nth-last-child(-n+1) {
		grid-column-start: 3;
	}


}

@media (max-width: 600px) {

	/* <- 2-1  hexagons per row */
	.hexGrid {
		grid-template-columns: repeat(4, 1fr);
		padding-bottom: 11.2%;
		grid-gap: 5px;
	}

	.hex {
		height:90px;
	}
	.hex:nth-child(3n+3) {
		/* first hexagon of even rows */
		grid-column-start: 2;
	}


	.hex:nth-child(3n+1):nth-last-child(-n+1) {
		grid-column-start: 2; 
	}
}